name: Deploy Docker App to AWS EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@16.171.250.50 << 'EOF'
            cd ~/project
            git pull
            docker stop myapp || true
            docker rm myapp || true
            docker build -t myapp .
            docker run -d -p 5000:5000 --name myapp myapp
          EOF
